/* other extensions' popup is unchanged */
div[role=alertdialog], div[role=alertdialog] div {
    background-color: white !important;
}

/*********** GOOGLE ***********/

/* google search */
#tsf > div.tsf-p > div.jsb > center > input[type="submit"] {
    color: #2B2B2B !important;
}

/* "i'm feeling lucky" */
.gbqfba.gbqfba-hvr, .gbqfba.gbqfba-hvr *, .gbqfba.gbqfba-hvr * * {
    color: #2B2B2B !important;
    background-color: #f1f1f1 !important;
}

span._xdb a.fl {
    color: #81b8ed !important;
}

span._xdb a.fl:visited {
    color: #b4b7ff !important;
}

/* search bar */
.gstl_0.sbib_a, .gstl_0.sbib_a *, #sfdiv, #_fZl, #_fZl * {
    background-color: #454545 !important;
}

/* google search list drop-down */
.sbdd_b, .sbdd_b * {
    background-color: #393939 !important;
    z-index: -1 !important;
}

/* google search list drop-down on select */
.sbsb_c.gsfs.sbsb_d, .sbsb_c.gsfs.sbsb_d * {
    background-color: #121212 !important;
}

/* "people also ask" arrow */
._Zgf {
    background-color: transparent !important;
}

/* google apps title box, bell notification */
.gb_b.gb_cc, .gb_Nc.gb_Oc.gb_cc {
    background-color: #454545 !important;
}

/* google apps drop down background */
.gb_ia.gb_ba, .gb_ia.gb_ca, .gb_Z, .gb_Z *, .gb_ja.gb_Rf, .gb_ka.gb_Mf, .gb_ga.gb_fa.gb_za.gb_g.gb_ha.gb_ma {
    background-color: #393939 !important;
}

/* "even more from google", "more" */
a.gb_ka.gb_Mf, a.gb_ja.gb_Rf {
    color: white !important;
}

/* google apps name */
span.gb_3 {
    color: white !important;
}

/* url link */
cite._Rm {
    color: darkgreen !important;
}

/* google translate box */
#tw-container.vk_c, #tw-container.vk_c * {
    background-color: #454545 !important;
}
.tw-bilingual-pos.vk_dgy {
    color: white !important;
}
#tw-ob > div.tw-swapa > div {
    background-color: white !important;
}

/* "translate to" dropdown */
#tl_select, #tl_select * {
    background-color: #454545 !important;
    color: white !important;
}

/* dictionary iframe */
#dw-siw > input, .dw-sb-btn, .dw-sb-btn * {
    background-color: #454545 !important;
}

/* youtube iframe */
span._JWc {
    background-color: transparent !important;
}

/* "showtimes at" */
.vk_bk.lr_c_h {
    color: white !important;
}

/* movie's title */
.lr_c_fcb > .lr_c_tmt > a {
    color: #81b8ed !important;
}

.lr_c_fcb > .lr_c_tmt > a:visited {
    color: #b4b7ff !important;
}

/* "result from 'x'" */
#nqsbq {
    background-color: #454545 !important;
}

/* "result from ..." search button */
button.ab_button {
    background: #454545 none !important;
}

button.ab_button > span {
    background-color: transparent !important;
}

button.ab_button > span > img {
    filter: invert(100%);
}

/* zoom button on top right of map */
div.gws-local-map__map-expando.duf-h {
    background-color: transparent !important;
}

/*********** GOOGLE SUPPORT ***********/

/* google apps */
.gb_ga.gb_fa.gb_za.gb_g.gb_ha, .gb_ga.gb_fa.gb_za.gb_g.gb_ha * {
    background-color: #393939 !important;
}

/* search bar */
#search-form > * {
    background-color: #454545 !important;
}

/* search result drop down on select */
.sbsb_c.sbsb_d, .sbsb_c.sbsb_d * {
    background-color: #121212 !important;
}

/*********** GOOGLE SCHOLARS ***********/

/* search bar */
#gs_hdr_tsi {
    background-color: #454545 !important;
}

/* search button (color is not correct) */
#gs_hdr_tsb > span, #gs_hdr_tsb > span > * {
    background-color: #3F79F4 !important;
}

/* result drop down */
#gs_hdr_frm_ac > div > ul, #gs_hdr_frm_ac > div > ul > li {
    background-color: #393939 !important;
}

#gs_hdr_frm_ac > div > ul > li > b {
    background-color: transparent !important;
}

/* result drop down on select */
#gs_hdr_frm_ac > div > ul > li.gs_sel {
    background-color: #121212 !important;
}

/* article check box left side */
span.gs_cb_wr > span.gs_chk, span.gs_cb_wr > span.gs_cbx, #gs_bdy_sb_ca > span.gs_ico {
    background-color: white !important;
}

#gs_amr-b > span, #gs_amr-bl, #gs_alerts_buttons > button:nth-child(1) > span, #gs_alerts_buttons > button:nth-child(1) > span > span, #gs_alerts_buttons > button.gs_btn_cre.gs_btn_lsb.gs_btn_lsu > span, #gs_alerts_buttons > button.gs_btn_cre.gs_btn_lsb.gs_btn_lsu > span > span {
    background-color: transparent !important;
}

#gs_amr-bl, #gs_alerts_buttons > button:nth-child(1) > span, #gs_alerts_buttons > button.gs_btn_cre.gs_btn_lsb.gs_btn_lsu > span, #gs_alerts_buttons > button:nth-child(1) > span > span, #gs_alerts_buttons > button.gs_btn_cre.gs_btn_lsb.gs_btn_lsu > span > span {
    color: black !important;
}